// Variables
@import 'variables';


/* Decor */
body {
    background: $backgroundDark;
}
  

/* The main container look for backgrounds throughout site */
.main-container {
    position: absolute;
    left: 125px;
    top: 10px;
	 
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.column {
	float: left;
    width: 30%;
    margin-left: 5px;
}

.container {
	background-color: $backgroundCream;
	/* rounded corners */
	-moz-border-radius: 5px;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
	font-family: 'Lato' sans-serif;
    font-weight: 100;
    padding: 10px;
    margin-top: 10px;
}

/* MAIN SECTIONS STYLING */
.header {
    text-align: center;
}

.contacts-table {
    width: 100%;
    font-size: 1.25em;
    font-family: Lato, sans-serif;
}

.contact-table input {
    font-size: 1.25em;
}

/* GENERIC STYLING */

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.even {
    background-color: #cccccc;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.move-right {
    position: absolute;
    margin-left: 100px;
}

.shift-down-sm{
    position: relative;
    top: 5px;
}
.shift-down-md{
    position: relative;
    top: 10px;
}
.shift-down-lrg{
    position: relative;
    top: 15px;
}

.shift-up-sm{
    position: relative;
    bottom: 5px;
}
.shift-up-md{
    position: relative;
    bottom: 10px;
}
.shift-up-lrg{
    position: relative;
    bottom: 15px;
}

.delete-button {
    background-color: red;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 15px;
}